.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: var(--medium-space);
  align-items: center;
  margin-top: var(--medium-space);
}

.grid-item {
  background-color: var(--color-bg-grid-element);
  padding: var(--large-space);
  text-align: center;
  border-radius: var(--xsmall-radius);
  border-bottom: var(--xsmall-space) solid var(--color-grid-border);
}
