:root {
	/* FONTS */
	--font-size-base: 16px;
	--font-size-heading: 32px;
	--font-family-base: Helvetica, Arial, sans-serif;
	--font-weight-regular: 400;
	--font-weight-bold: 700;

	/* COLORS */
	--color-bg-primary: hsl(226, 23%, 20%);
  --color-bg-secondary: hsl(226, 19%, 40%);
	--color-bg-grid-element: hsl(223, 15%, 27%);
  --color-grid-border: hsl(223, 15%, 15%);
  --color-text-primary: rgb(230, 220, 200);

	/* CONTAINERS SIZE */

	/* GRID */
	--grid-gap: 24px;

	/* RADIUS */
	--xsmall-radius: 4px;
	--small-radius: 8px;
	--medium-radius: 16px;
	--semi-medium-radius: 24px;
	--large-radius: 32px;
	--xlarge-radius: 48px;

	/* SPACE */
	--xsmall-space: 4px;
	--small-space: 8px;
	--medium-space: 16px;
	--semi-medium-space: 24px;
	--large-space: 32px;
	--xlarge-space: 48px;
}

body {
  background-color: var(--color-bg-primary);
	font-family: var(--font-family-base);
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.app-container {
  display: inline-block;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: var(--medium-space);
  align-items: center;
  margin-top: var(--medium-space);
}

.grid-item {
  background-color: var(--color-bg-grid-element);
  padding: var(--large-space);
  text-align: center;
  border-radius: var(--xsmall-radius);
  border-bottom: var(--xsmall-space) solid var(--color-grid-border);
}

.header {
  width: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 0;
  color: var(--color-text-primary);
  text-transform: uppercase;
}

.header-title {
  font-weight: var(--font-weight-bold);
}

.header-bar {
  border-bottom: 1px solid var(--color-text-primary);
  margin: var(--semi-medium-space) 0;
  width: 100%;
}