.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--semi-medium-space);
}

.header-title {
  font-weight: var(--font-weight-bold);
}

.header-bar {
  border-bottom: 2px solid black;
  margin-top: var(--medium-space);
  width: 100%;
}